<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "background.jpg" %>);">
  <div class="container">
    <div>
      <h1>Find your <strong>Co</strong>ading <strong>Co</strong>ach</h1>
      <p>Book a coach to help you learn to code!</p>
    </div>
    <%= link_to "Look for your coach", lessons_path, class:"btn-rounded" %>
  </div>
  <div class="cards-language">
    <%= link_to lessons_path(code_language: "ruby") do %><%= image_tag "ruby.png", class: "card-language" %><% end %>
    <%= link_to lessons_path(code_language: "javascript") do %><%= image_tag "javascript.png", class: "card-language" %><% end %>
    <%= link_to lessons_path(code_language: "python") do %><%= image_tag "python.png", class: "card-language" %><% end %>
    <%= link_to lessons_path(code_language: "css") do %><%= image_tag "css.png", class: "card-language" %><% end %>
    <%= link_to lessons_path(code_language: "html") do %><%= image_tag "html.png", class: "card-language" %><% end %>
    <%= link_to lessons_path(code_language: "sql") do %><%= image_tag "sql.png", class: "card-language" %><% end %>
  </div>
</div>
