
<div class="main-container">
  <div class="second-container">
    <% @lessons.each do |lesson| %>
        <div class="card-container">
          <div class="cc-left">
            <!--<%= cl_image_tag(lesson.user.photo.key, height: 100, width: 100, crop: :fill, class: "avatar-large") %> -->
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", width: 56, height: 56, class: "avatar-large" %>
            <p>★★★★★</p>
            <p><%= lesson.coding_language %></p>
            <% if lesson.coding_language == "php" %>
            <%= image_tag "css.png" %>
            <% end %>
            <%= link_to "Book", lesson_path(lesson.id), class: "btn btn-primary" %>
          </div>
          <div class="cc-right">
            <h2><%= lesson.user.first_name %> </h2>
            <p><%= truncate(lesson.description, :length => 300) %></p>
            <p id="price"><%= lesson.hourly_prices %> EUR / h</p>
          </div>
        </div>
    <% end %>
  </div>

  <div id="map" style="width: 100%; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
