<div class="container-main">
  <div class="card-container2">
    <div class="container-up">
      <div class="container-up-left">
            <%= cl_image_tag(@lesson.user.photo.key, height: 65, width: 65, crop: :fill, class: "avatar-large") %>
      </div>
      <div class="container-up-right">
        <h1><%= @lesson.user.first_name %></h1>
        <% @rating_average.times do %>
          ★
        <% end %>
        <% (5 - @rating_average).times do %>
          ☆
        <% end %>
        <div class="coding-logo">
          <% if @lesson.coding_language == "html5" %>
          <%= image_tag "html5.png", alt: "css", width: 50 %>
          <% elsif @lesson.coding_language == "ruby" %>
          <%= image_tag "ruby.png", alt: "css", width: 50 %>
          <% elsif @lesson.coding_language == "css3" %>
          <%= image_tag "css3.png", alt: "css", width: 50 %>
          <% elsif @lesson.coding_language == "python" %>
          <%= image_tag "python.png", alt: "css", width: 50 %>
          <% elsif @lesson.coding_language == "javascript" %>
          <%= image_tag "javascript.png", alt: "css", width: 50 %>
          <% elsif @lesson.coding_language == "sql" %>
          <%= image_tag "sql.png", alt: "css", width: 50 %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-down">
      <div class="description">
        <p><b><%= @lesson.user.first_name %></b> <%= @lesson.description %></p>
      </div>
      <div class="adresse-container">
        <div class="adresse-container-left">
          <%= image_tag "pin_ruby.png", alt: "Ruby pin" %>
        </div>
         <div class="adresse-container-right">
          <b>location:</b>
          <%= @lesson.user.address %>
        </div>
      </div>
      <p class="price"><b><%= @lesson.hourly_prices %> €/h</b></p>
    </div>
  </div>
  <div class="form-reviews">
    <h1>Reviews</h1>
    <p>No reviews yet!</p>
  </div>
  <div class="form-container" data-controller="total_price">
      <%= simple_form_for [ @lesson, @booking ] do |f| %>
      <%= f.input :teaching_date, as: :date, html5: true %>
      <%= f.input :comment, as: :text %>
      <%= f.input :duration_min, as: :radio_buttons, collection: [['60', '60 min'], ['90', '90 min'], ['120', '120 min']], label_method: :second, value_method: :first, :checked => ['60', '60 min'] %>
      <p>Total price: <%= @lesson.hourly_prices %>€</p>
      <%= f.submit "Book", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
